.section-colored,#teaser:not(.home),#teaser-page,#calltoaction-form ,#faqholder dt .colored,a.buy-btn,a.newsletter-btn {
	background:#ffffff;
}
.twitter-image,#navigation ul li a:hover,a:hover.newsletter-btn,.section-black h3.section-title,a:hover.buy-btn,.section-grey .subtitle,.box:hover .box-icon,.box:hover h3,.callus,.logo-fontcon,#calltoaction-form .btn:hover {
	color:#f39c12
}

.btn {
    background: #f39c12;
}