/* ========== FLATDOWN - EXTRA STYLES SPECIFIC TO IMAGE BACKGROUND TEMPLATE ========== */
body.image-bg {
  /* ===== BACKGROUND IMAGE ===== */
  /* ===== INTRO SECTION ===== */
  /* ==== COUNTDOWN SECTION ===== */
  /* ===== CAPTION SECTION ===== */
}
body.image-bg #background-image {
  position: fixed;
  z-index: -9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: url('../images/flat-bg.jpg') no-repeat center center fixed;
  /* change your bg image here. */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.image-bg #background-image #bg-hue {
  background-color: rgba(0, 0, 0, 0.85);
  /* this is the color overlay to make the image more subtle. */
  z-index: -499;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
body.image-bg #intro {
  color: #ecf0f1;
}
body.image-bg #countdown {
  background: rgba(255, 255, 255, 0.1);
}
body.image-bg #caption {
  background-color: transparent;
}
body.image-bg #caption .caption q::before,
body.image-bg #caption .caption q::after {
  content: '';
}
body.image-bg #caption .caption .cite {
  color: #7f8c8d;
}
