/* 

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to 
update the template. Simply copy an existing style from style.css to 
this file, and modify it to your liking. 

*/

@font-face
{
    font-family: 'BebasNeue';
    src: url('bebas_neue/bebasneue-webfont.eot');
    src: url('bebas_neue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebas_neue/bebasneue-webfont.woff') format('woff'),
    url('bebas_neue/bebasneue-webfont.ttf') format('truetype'),
    url('bebas_neue/bebasneue-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Entypo';
    src: url('entypo/entypo-webfont.eot');
    src: url('entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
    url('entypo/entypo-webfont.woff') format('woff'),
    url('entypo/entypo-webfont.ttf') format('truetype'),
    url('entypo/entypo-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'BebasNeue';
    src: url('bebas_neue/bebasneue-webfont.eot');
    src: url('bebas_neue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebas_neue/bebasneue-webfont.woff') format('woff'),
    url('bebas_neue/bebasneue-webfont.ttf') format('truetype'),
    url('bebas_neue/bebasneue-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Varela";
    line-height:1.5;
    font-size:12px;
    background-color:#F2F2F2;
    color:#666;
    margin:0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'BebasNeue',cursive;
}
h1 {
    font-size:32px;
}
h2 {
    font-size:25px;
}
h3 {
    font-size:22px;
}
h4 {
    font-size:20px;
}
h5 {
    font-size:18px;
}
h6 {
    font-size:16px;
}

header#top {
    background: #111; /* Old browsers */

}

#pagetitle {

    border-bottom:1px solid #D94438;
    background: #111; /* Old browsers */
    color: #f39c12;

}

.draggable-item{
    font-family: websymbolsregular;
    font-size: 1em;
    padding: 0 2px;
    margin: 0 1px;
    text-decoration: none;
}

#eq span {
    height:120px; float:left; margin:15px
}
#timeDisplay
{
   padding: 60px 0;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; cursor: pointer; }

